/* vas mobile common style -> rollette event */
/* 2015/04/22  Ryan -> 2016/07/08 yhpark*/
html body {height:100%;}
body{padding-bottom:0 !important;}
body,input,textarea,select,table,button {position:relative;font-size:12px;color:#6d6d6d;line-height:1.25em;margin:0;padding:0;}
.listTr{height:35px;}
.container{margin-left: 15px; margin-right: 15px;}
.subTitle{font-size:18px;color:#000000;line-height:1.25em;margin:0;padding:0;text-align:left;padding-top: 15px; padding-bottom: 15px;}
/*.supName{text-align:left; margin-left: 5px;padding-left: 10px;border:1px #E1E1E1 solid; border-left:1px #ffffff solid;}*/
.listTbl{text-align:center;border-collapse:collapse; border-top:2px #191919 solid;width:100%;}
     
.listTblInner{text-align:center;border-collapse:collapse;width:100%;;}
     
.leftTd{text-align:left; margin-left: 5px;padding-left: 10px; border:1px #E1E1E1 solid; border-left-width: 0px;}
.rightTd{border:1px #E1E1E1 solid; border-right-width: 0px;}
.centerTd{border:1px #E1E1E1 solid;}
.moreBtn{max-width:100%; width:100%;margin:0px; border-bottom:1px #E1E1E1 solid;}
.applyTbl{text-align:center;border-collapse:collapse; border-top:2px #191919 solid;width:100%;}

.applyUl{list-style:none; padding:0px;margin-top: 0px;margin-bottom: 0px;}
.applyMoreUl{list-style:none; padding:0px;margin-top: 0px;display:none;margin-bottom: 0px;}
     
.centerLi{width:32.6%;float:left; border:1px #E1E1E1 solid;}
.leftLi{width:32.6%;float:left; border:1px #E1E1E1 solid; border-left-width: 0px;}
.rightLi{width:32.6%;float:left; border:1px #E1E1E1 solid; border-right-width: 0px;}
     
.applyDiv{text-align:center; width:100%;}
     
.pClass{text-align:center; font-size:10px;}

.genie{max-width:100%; width:100%;margin:0px;}
.includeDiv{margin-left: 5px; margin-right: 5px;}

.detail{display:none; height:100px; overflow:auto;}
.commUl{list-style:none; padding:0px;margin-top: 0px;margin-bottom: 0px;}

.pDateClass{font-size:130%; width:100%;}
/*투폰 비밀번호 입력 재입력 */
.pwdImg{float:left; width:80%; margin-left: 15px;}
.pwdTB{float:right; width:80%; height:25px; border:2px solid #d0cece; margin-right: 15px; font-size:120%; text-align:center; font-weight:bold;}

/*투폰 전화번호 선택*/
.selNumTr{height:50px; border-bottom:1px solid #d6d6d6}

.twoPhoneTbd{border-bottom:1px solid #d6d6d6;border-top:1px solid #d6d6d6;}

.twoPhoneDec{font-size:140%; color:#474747; line-height:1.3em; margin-left: 5px; margin-right: 5px; margin-top: 10px; margin-bottom: 10px;}

.romSD_td{border-left: 0px solid; border-right: 1px solid; border-top: 1px solid; border-bottom: 1px none; text-align:center;}
.romSD_td1{border-left: 0px solid; border-right: 0px solid; border-top: 1px solid; border-bottom: 1px none; text-align:left;}
.romSD_td2{border-left: 0px solid; border-right: 0px solid; border-top: 1px solid; border-bottom: 0px none;}
.romfont{font-size:150%; width:90%; height:33px;}

.table_style1 { text-align:left; width:85%; border:1px solid #bdc6cf; padding:0px 10px 20px 10px; margin:0px 50px 20px 20px; border-radius:4px;}




