.roulette_wrap{background: url(../images/roulette/bg_rl.png) 0 0 no-repeat;background-size: cover;}
.roulette_wrap .tit{padding:40px 35px 35px;}
.roulette_wrap .tit img{width: 100%;}

.roulette_wrap .roultette{position: relative;padding:0 30px;}
.roulette_wrap .roultette img{width: 100%;}
.roulette_wrap .roultette:after{content: '';position: absolute;left: 50%;top: -6px;margin-left: -12px;width: 24px;height: 30px;background: url(../images/roulette/arrow_rl.png) 0 0 no-repeat;background-size:24px 30px;}
.roulette_wrap .roulette_footer{padding-top: 30px;}
.roulette_wrap .roulette_footer img{width: 100%;}

#resultDiv{position: fixed;top: 50%; margin-top: -165px;width: 100%}
#resultDiv .box{margin: 10px;background: #fff;padding:30px 20px 20px;text-align: center;}
.btn_rl_wrap{display:block;display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex}
.btn_rl_wrap span{line-height: 40px;color: #eb1c24;border-radius: 40px;border: 1px solid #eb1c24;background: #fff;font-size: 15px;text-align: center;-webkit-box-flex:1;-webkit-flex:1;-moz-flex:1;-ms-flex:1;flex:1}
.btn_rl_wrap span:first-child{margin-right: 4px;}
.btn_rl_wrap span:last-child{margin-left: 4px;color: #fff;background: #eb1c24;}
#resultDiv .box .img{}
#resultDiv .box .img img{width: 150px;}
#resultDiv #resulText{padding:30px 0 20px;font-size: 14px;color: #222;}